<div class="row">
  <div class="col-xs-12">
    <img width="500" height="auto" [src]="recipeRecived.imagePath" alt="{{recipeRecived.name}}" class="img img-responsive thumbnail">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeRecived.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="btn-group" appDropdown>
      <button type="button" name="button" class="btn btn-info dropdown-toogle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="addToShoppingList()" style="cursor:pointer">To Shopping List</a></li>
        <li><a>Edit Recipe</a></li>
        <li><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-6">
    {{recipeRecived.description}}
  </div>

</div>

<br>
<br>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipeRecived.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
