<a
  class="list-group-item clearfix recipe-item"
  [routerLink]="[recipe.id]"
  routerLinkActive='active'>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{recipe.name}}</h4>
    <p class="list-group-item-text">{{recipe.description}}</p>
  </div>
  <div class="pull-right">
    <!-- src attribute use property binding (for attributes) instead of string interpolation but both work!!-->
    <img
    width="100px"
    height="auto"
    [src]="recipe.imagePath"
    alt="{{recipe.name}}"
    class="img-responsive"
    style="max-height: 50px;">
  </div>
</a>
